<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration for new Lenders</title>
	<style>
		.sbs {
			width: 400px;
			margin: 10px;
			float: left;
		}
		.center {
			width: 70%;
			margin: 0 auto;
		}

	</style>
</head>
<body>

<div class="container">
	<div class="row clearfix">

		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">DojoLoans</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/regborrowers/new">New Borrower</a>
						</li>
						<li class="active">
							<a href="#">New Lender</a>
						</li>
						<li>
							<a href="/users/index">Back to Main Page</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="panel panel-success sbs" style="margin-top: 70px">
			<div class="panel-heading">New Lender Registration</div>
				<div id='lender' class="panel-body">
				<%= simple_form_for @lender, :url => reglenders_create_path, html: { class: 'form-vertical' } do |f| %>

				  <% @tmp = @lender %>
				  <%= render 'shared/form_regerrors' %>

				  <%= f.input :first_name, placeholder: 'First Name...', :input_html => { :size => 20, :maxlength => 35 } %>
				  <%= f.input :last_name, placeholder: 'Last Name...', :input_html => { :size => 20, :maxlength => 35 } %>
				  <%= f.input :email, placeholder: 'Valid Email...', :input_html => { :size => 20, :maxlength => 45 } %>
				  <%= f.input :password, placeholder: 'Secure Password...', :input_html => { :size => 4, :maxlength => 15 }, placeholder: 'password longer than 3 chars' %>
				  <%= f.input :password_confirmation, :input_html => { :size => 4, :maxlength => 15 } %>
				  <%= f.input :lendable, placeholder: 'Amount available...', as: :decimal, :input_html => { :size => 10, :maxlength => 15 }, :value => number_to_currency(:lendable,precision: 2) %>
				  <%= f.button :submit, 'CREATE LENDER', :class => 'btn btn-success' %>

				<% end %>
				</div>
				<div class="panel-footer">Enter your information and click "CREATE LENDER" to build your account.  The amount entered here is the total amount your have available to lend out.</div>
			</div>
		</div>

	</div>

</div>
