<style>
	#container {
		width: 95%;
		margin: 0 auto;
		margin-top: 20px;
	}
	#header {
		margin: 0 auto;
		margin-top: 10px;
		width: 95%;
		border-width: 1px solid #8e8e8e;
	}
	#left {
		float:left;
		text-align: right;
		width: 19%;
	}
	#right {
		float: left;
		width: 19%;
		margin-left: 10px;
	}
	#logout {
		float: left;
		width: 200px;
		margin-left: 300px;
	}
	.clear {
		clear: both;
	}
</style>

<div class="container">
	<div class="row clearfix">

		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">DojoLoans</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Loans</a>
						</li>
						<li>
							<a href="#">Add Money</a>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href='#'><%=session[:name]%></a></li>
						<li class="divider"></li>
						<li><a href='#' style='color: #28F86E'>Balance: <%=number_to_currency(session[:lendable])%></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href='/users/logout'>LOGOUT</a>
						</li>
						<li class='divider'>&nbsp;&nbsp;&nbsp;</li>
					</ul>
				</div>
			</nav>
		</div>


		<div class="panel panel-primary sbs" style='margin-top: 70px'>
			<div class="panel-heading">List of People in Need of Help</div>

				<div id='lender' class="panel-body">
					<table class='table table-hover'>
						<tr>
							<th>Name</th>
							<th>Needed For</th>
							<th>Reason for Loan</th>
							<th>Amount Needed</th>
							<th>Amount Raised</th>
							<th>Action</th>
						</tr>
						<% if @open_loans == nil then %>
							<tr>
								<td colspan=6>No borrowers available to lend to.</td>
							</tr>
						<% else %>
							<% @open_loans.each do |b| %>
								<tr>
									<td><%=b[:first_name]+" "+b[:last_name]%></td>
									<td><%=b[:needed_for]%></td>
									<td><%=b[:description]%></td>
									<td><%=number_to_currency(b[:loan])%></td>
									<td><%=number_to_currency(b[:amount_procured])%></td>

									<td>

									<%= form_tag "/reglenders/"+b[:id].to_s, method: 'patch' do %>
									<%= number_field(:newloan, :loan_amount, in: 1.0..(b[:loan]-b[:amount_procured]), step: 0.5) %>
									&nbsp;
									<%= submit_tag 'LEND', class: 'btn-xs btn-success' %>
									<% end %>

									</td>

								</tr>
							<% end %>
						<% end %>
					</table>
				</div>

			<div class="panel-footer">You may lend money to anyone on this list. Adding money to an existing loan will simply add that amount to the total loan.</div>
		</div>

		<div class="panel panel-success sbs">
			<div class="panel-heading">My Loans</div>

				<div id='lender' class="panel-body">
					<table class='table table-hover'>
						<tr>
							<th>Name</th>
							<th>Needed For</th>
							<th>Reason for Loan</th>
							<th>Amount Needed</th>
							<th>Amount Raised</th>
							<th>Action</th>
						</tr>
						<% if @my_loans == nil then %>
							<tr>
								<td colspan=6>No borrowers have signed up yet.</td>
							</tr>
						<% else %>
							<% @my_loans.each do |b| %>
								<tr>
									<td><%=b[:first_name]+" "+b[:last_name]%></td>
									<td><%=b[:needed_for]%></td>
									<td><%=b[:description]%></td>
									<td><%=number_to_currency(b[:loan])%></td>
									<td><%=number_to_currency(b[:amount_procured])%></td>
									<td>
									<% if b[:loan] > b[:amount_procured] then %>
									<%= form_tag "/reglenders/"+b[:id].to_s, method: 'patch' do %>
									<%= number_field(:newloan, :loan_amount, in: 1.0..(b[:loan]-b[:amount_procured]), step: 0.5) %>
									&nbsp;
									<%= submit_tag 'LEND', class: 'btn-xs btn-success' %>
									<% end %>
									<% end %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</table>
				</div>

			<div class="panel-footer">You may lend money to anyone on this list. Adding money to an existing loan will simply add that amount to the total loan.</div>
		</div>

	</div>

</div>
